# Default pcscd selinux policy doesn't allow tcp sockets
# This module makes vpcd usable with SELinux
module my-pcscd 1.0;

require {
	type pcscd_t;
	type node_t;
	class tcp_socket node_bind;
}

#============= pcscd_t ==============
allow pcscd_t node_t:tcp_socket node_bind;
